<tr>
	<td><input type="text" {{bind-attr value="name" event="blur"}}></td>
	<td><input type="text" {{bind-attr value="permalink" event="blur"}}></td>
	<td><input type="text" {{bind-attr value="required" event="blur"}}></td>
	<td><input type="text" {{bind-attr value="type" event="blur"}}></td>
	<td>
		<select {{bind-attr value="validator" event="change"}}>
			<option value="" {{#is validator "email"}}selected="selected"{{/is}}>None</option>
			<option value="presence" {{#is validator "presence"}}selected="selected"{{/is}}>Exists</option>
			<option value="email" {{#is validator "email"}}selected="selected"{{/is}}>Email Address</option>
		</select>
	</td>
	<td class="align_center">
		<button class="fluid_width small gray green_hover">
			<i class="fa fa-arrows"></i>
		</button>
	</td>
	<td class="align_center">
		<button class="fluid_width small gray red_hover" {{action click="delete"}}>
			<i class="fa fa-trash"></i>
		</button>
	</td>
</tr>