<tr>
	<td><input type="text" {{bind-attr value="name" event="blur"}}></td>
	<td><input type="text" {{bind-attr value="permalink" event="blur"}}></td>
	<td><input type="text" {{bind-attr value="required" event="blur"}}></td>
	<td><input type="text" {{bind-attr value="type" event="blur"}}></td>
	<td><input type="text" {{bind-attr value="validator" event="blur"}}></td>
	<td><input type="text" {{bind-attr value="ordinal" event="blur"}}></td>
	<td>
		<button class="fluid_width small gray red_hover" {{action click="delete"}}>
			<i class="fa fa-trash"></i>
		</button>
	</td>
</tr>